html, body, .grid {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin:0;
  overflow:hidden;
}

body {
  display: flex;
}

/* ! Fonts */
@font-face {
  font-family: 'CascadiaCodePL';
  src: url('/assets/fonts/CascadiaCodePL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Agave';
  src: url('/assets/fonts/Agave.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ellograph';
  src: url('/assets/fonts/Ellograph.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hasklig';
  src: url('/assets/fonts/Hasklig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JuliaMono';
  src: url('/assets/fonts/JuliaMono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CascadiaCodePL';
  src: url('/assets/fonts/CascadiaCodePLItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* 
! Styles
*/

* {
  box-sizing: border-box;
}

.editor {
  position: relative;
}

.editor::after{
  background-repeat: no-repeat;
  content: '';
  z-index: 1;
  margin:0;
  position: absolute;
  height: 48px;
  bottom:35px;
  right: 35px;
  width: 48px;
}

#html::after {
  background-image: url("./assets/html.svg");
}

#css::after {
  background-image: url("./assets/css.svg");
}
#js::after {
  background-image: url("./assets/js.svg");
}

.sidebar {
  height: 100vh;
  opacity: 0.9;
  width: 60px;
  -webkit-box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.9); 
  box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.9);
  background-color: #444;
}

.sidesidebar {
  height: 100vh;
  opacity: 0.9;
  width: 250px;
  padding: auto;
  padding-top:10px;
  background-color: #444;
}

.skypackbar {
  height: 100vh;
  opacity: 0.9;
  width: 250px;
  padding: auto;
  padding-top:10px;
  background-color: #444;
}

label{
  color:#f5f5f5;
  font-family: 'Cascadia Code PL';

}

input {
  border-radius: 5px;
  border:none;
  outline: 0;
  padding:3px;
  background-color: #999;
  color:#f5f5f5;
  margin:2px;
}

button {
  width:185px;
  border:none;
  border-radius: 5px;
  background-color: #222;
  color: #f5f5f5;
}

button:hover {
  background-color: #252525;
}

button:active {
  background-color: #111;
}

.grid {
  display: grid;
  grid-template-columns: 50% 5px 50%;
  grid-template-rows: 50.1% 5px 50.1%;
}

#skypack, #download, #settings, #preview, #copy, #run {
  margin:10px;
}

#copy {
  position: absolute;
  bottom: 50px;
  width:50px;
}
#settings {
  position: absolute;
  bottom: 0px;
  width:41px;
}
#run {
  position: absolute;
  bottom: 100px;
  width: 43px;
}

.clickablesvg g, .clickablesvg path {
  fill:#ccc;
  transition: 0.2s ;
}

.clickablesvg:hover g, .clickablesvg:hover path{
  fill:#999 !important;
  transition: 100ms !important;
}

textarea, iframe{
  height: 100%;
  width: 100%;
  border: none;
}

textarea {
  resize: none;
  background: #222;
  color:white;
  height: 99.9vh;
}
* {
  word-wrap: ;
}
.vertical-gutter {
  grid-area: 1 / 2 / 4 / 2;
  background: #555;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
  cursor:col-resize;
  opacity:0.7;
}

.horizontal-gutter {
  grid-area: 2 / 1 / 2 / 4;
  background: #555;
  -webkit-box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.3); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
  cursor:row-resize;
  opacity:0.7;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444; 
  transition: 0.2s;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
  transition: 0.2s;
}